include requirements/base.txt
include requirements/data.txt
include requirements/postgres.txt
include requirements/mariadb.txt
include requirements/saml.txt
include README.md
include libreforms_fastapi/app/static/*
include libreforms_fastapi/app/templates/*