{% extends "base.html.jinja" %}

{% block header %}
    <link href="{{ url_for('static', path='css/datatables.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}
{{config.SITE_NAME}} — View System Information
{% endblock %}

{% block content %}
<h4>
    View System Information
    <sup title="This is an admin page">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg>
    </sup>
</h4>
<hr>
<div class="container table-responsive">
    <table id="configTable" class="table table-hover table-striped table-light">
        <thead>
            <tr>
                <th>Config</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in config_dict %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}


{% block scripts %}
<script src="{{url_for('static', path='js/datatables.js')}}"></script>
<script>
    $(document).ready(function() {

        $('#configTable').DataTable({
            ordering: false,
            info: false,
            paging: false,
            pageLength: 100
        });


    });
</script>
{% endblock %}