{% extends "base.html.jinja" %}

{% block title %}
{{config.SITE_NAME}} — Docs
{% endblock %}


{% block content %}
<h1>Documentation</h1>
<hr>

{{ docs_markdown|safe }}

{% endblock %}

{% block scripts %}
{% endblock %}
