{% extends "base.html.jinja" %}

{% block title %}
{{config.SITE_NAME}} — Forgot Password
{% endblock %}

{% block content %}
<form id="resetForm">

    <fieldset class="form-check">
        <h4>Forgot Password</h4>
        <p>Reset your password by entering your new password below.</p>
    </fieldset>

    <fieldset style="padding-top: 10px;" class="form-check">
        <label aria-labelledby="passwordHelpInline" for="password" class="form-check-label">Password</label>
        <span id="passwordHelpInline" class="form-text">
        | {{config['PASSWORD_HELPER_TEXT']}}
        </span>
        <input type="password" id="password" name="password" class="form-control" required>
    </fieldset>

    <fieldset style="padding-top: 10px;" class="form-check">
        <label aria-labelledby="confirmPasswordHelpInline" for="confirmPassword" class="form-check-label">Confirm Password</label>
        <span id="confirmPasswordHelpInline" class="form-text">
        | Please re-enter your new password here
        </span>
        <input type="password" id="confirmPassword" class="form-control" required>
    </fieldset>

    <fieldset style="padding-top: 15px;" class="form-check">
        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
    </fieldset>

</form>
{% endblock %}





{% block scripts %}
<script>

$(document).ready(function() {
    const submitBtn = document.getElementById('submitBtn');

    $('#resetForm').on('submit', function(event) {
        event.preventDefault(); // Stop the form from submitting normally

        submitBtn.disabled = true; 
        submitBtn.value = 'Submitting...';

        // Collect email address
        var formData = {
            new_password: $('#password').val().trim(),
            verify_new_password: $('#confirmPassword').val().trim(),
        };

        // AJAX POST request to the API endpoint
        $.ajax({
            url: `/api/auth/forgot_password/{{ otp }}`,
            type: 'POST',
            contentType: 'application/json', // Ensure to set the content type
            data: JSON.stringify(formData), // Convert formData to JSON format
            success: function(response) {
                // Handle success
                console.log('Password reset submitted successfully', response);
                
                // Stash a flashed success message and redirect
                setFlashMessage("Password reset submitted successfully, please check your email", "success");
                window.location.href = '/ui/auth/login';
            },
            error: function(xhr) {
                // Handle errors
                console.error('Password reset failed.', xhr.responseText);
                // Display error message
                flashMessage(xhr.responseText, AlertCategories.WARNING); 
            },
            complete: function() {
                // Restore the submit button
                submitBtn.disabled = false;
                submitBtn.value = 'Submit';
            }
        });
    });
});


</script>

{% endblock %}