{% extends "base.html.jinja" %}

{% block title %}
{{config.SITE_NAME}} — Forgot Password
{% endblock %}

{% block content %}

<form id="resetForm">

    <fieldset class="form-check">
        <h4>Forgot Password</h4>
        <p>To reset your password, please enter your email below and you will receive an email with further instructions.</p>
    </fieldset>

    <fieldset style="padding-top: 10px;" class="form-check">
        <label aria-labelledby="emailHelpInline" for="email" class="form-check-label">Email</label>
         <span id="emailHelpInline" class="form-text">
        | Please enter your email
        </span>
        <input type="email" class="form-control" id="email" name="email" required>
    </fieldset>

    <fieldset style="padding-top: 15px;" class="form-check">
        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
    </fieldset>

</form>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    const submitBtn = document.getElementById('submitBtn');

    $('#resetForm').on('submit', function(event) {
        event.preventDefault(); // Stop the form from submitting normally

        submitBtn.disabled = true; 
        submitBtn.value = 'Submitting...';

        // Collect email address
        const email = $('#email').val().trim();

        // AJAX POST request to the API endpoint
        $.ajax({
            url: `/api/auth/forgot_password?email=${encodeURIComponent(email)}`,
            type: 'POST',
            success: function(response) {
                // Handle success
                console.log('Password reset submitted successfully', response);
                
                // Stash a flashed success message and redirect
                setFlashMessage("Password reset submitted successfully, please check your email", "success");
                window.location.href = '/ui/auth/login';
            },
            error: function(xhr) {
                // Handle errors
                console.error('Password reset failed.', xhr.responseText);
                // Display error message
                flashMessage(xhr.responseText, AlertCategories.WARNING); 
            },
            complete: function() {
                // Restore the submit button
                submitBtn.disabled = false;
                submitBtn.value = 'Submit';
            }
        });
    });
});
</script>
{% endblock %}
