{% extends "base.html.jinja" %}

{% block title %}
{{config.SITE_NAME}} — Help Request
{% endblock %}

{% block content %}
<h4>Submit Help Request</h4>
<p>When you experience issues with the application or want to request features, you can use this form to submit these requests to the application administrators.</p>

<form id="helpRequestForm">

    <fieldset style="padding-top: 10px;" class="form-check">
        <label for="subject" class="form-check-label">Subject</label>
         <span id="subjectHelpInline" class="form-text">
        | Please enter the subject of your request (50 Chars Max).
        </span>
        <input type="text" id="subject" maxlength="50" name="subject" class="form-control" required>
    </fieldset>

    <fieldset style="padding-top: 10px;" class="form-check">
        <label for="category" class="form-check-label">Category</label>
         <span id="categoryHelpInline" class="form-text">
        | Choose the appropriate category for your request.
        </span>
        <select id="category" name="category" class="form-select" required>
            <option value="Bug Report">Bug Report</option>
            <option value="Feature Request">Feature Request</option>
            <option value="Account Issue">Account Issue</option>
            <option value="Other">Other</option>
        </select>
    </fieldset>

    <fieldset style="padding-top: 10px;" class="form-check">
        <label for="message" class="form-check-label">Message</label>
        <span id="messageHelpInline" class="form-text">
        | Please describe your issue or question in detail.
        </span>
        <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
    </fieldset>

    <fieldset style="padding-top: 10px;" class="form-check">
        <button type="submit" id="submitButton" class="btn btn-primary">Submit Request</button>
    </fieldset>

</form>
{% endblock %}


{% block scripts %}
<script>
$(document).ready(function() {
    $("#helpRequestForm").submit(function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        const submitButton = document.getElementById('submitButton')
        submitButton.disabled=true; 

        const apiKey = "{{ request.user.api_key }}";

        // Gather form data
        var formData = {
            subject: $("#subject").val(),
            category: $("#category").val(),
            message: $("#message").val()
        };

        // Send the form data as JSON to the /api/auth/help endpoint
        $.ajax({
            type: "POST",
            url: "/api/auth/help",
            contentType: "application/json",
            data: JSON.stringify(formData),
            beforeSend: function(xhr){xhr.setRequestHeader('X-API-KEY', apiKey);},
            success: function(response) {
                // Use the custom flashMessage function for a success message
                setFlashMessage("Help request submitted successfully.", AlertCategories.SUCCESS);

                // Redirect the user to the homepage
                window.location.href = "/ui/home";

            },
            error: function(xhr) {
                // Use the custom flashMessage function to display error details
                flashMessage(xhr.responseText, AlertCategories.WARNING);

                submitButton.disabled=false; 

            }
        });
    });
});
</script>

{% endblock %}
