{% extends "base.html.jinja" %}

{% block title %}
{{config.SITE_NAME}} — Home
{% endblock %}


{% block content %}
<h1>Home</h1>

{{ config['HOMEPAGE_CONTENT'] }}


{% endblock %}



{% block scripts %}
{% endblock %}
