{% extends "base.html.jinja" %}

{% block title %}
{{config.SITE_NAME}} — Privacy
{% endblock %}


{% block content %}
<h4>Privacy</h4>

{{ render_markdown_content(config['PRIVACY_MESSAGE']) | safe }}

<p>By continuing to use this site, you agree to abide by the terms of the privacy policy.</p>
{% endblock %}

{% block scripts %}
{% endblock %}
