{% extends "base.html.jinja" %}

{% block title %}
{{config.SITE_NAME}} — Privacy
{% endblock %}


{% block content %}
<h1>Privacy</h1>

{{ config['PRIVACY_MESSAGE'] }}

{% endblock %}

{% block scripts %}
{% endblock %}
