{% extends "read_one_form.html.jinja" %}

{% block header %}
    <link href="{{ url_for('static', path='css/datatables.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
{{config.SITE_NAME}} — Individual Form Review & Approval 
{% endblock %}

{% block approval_interface %}


{# <table>
    <tr>
        <td>
        </td>
    </tr>
</table>         #}


<h4>Individual Form Review & Approval</h4>
<p>You are currently in the Review & Approval interface for this submission. You can see its details below. If you would like to go back to the general Review & Approval page, click <a href="/ui/form/review_and_approval">here</a>. If you would like to view this submission outside the Review & Approval interface, click <a href="/ui/form/read_one/{{ form_name }}/{{ document_id }}">here</a>.</p>
<p>The current stage for this submission is <code><span id="currentFormStage">{{stage_conf["label"] if "label" in stage_conf.keys() else form_stage}}</span></code>.</p>

{% if "on_approve" in stage_conf.keys()%}
<button onclick="signForm('approve');" id="form_approval" class="btn btn-primary" disabled>I approve this submission</button>
{% endif %}

{% if "on_deny" in stage_conf.keys()%}
<button onclick="signForm('deny');" id="form_disapproval" class="btn btn-secondary" disabled>I disapprove this submission</button>
{% endif %}

{% if "on_pushback" in stage_conf.keys()%}
<button onclick="signForm('pushback');" id="form_pushback" class="btn btn-secondary" disabled>I want to push this submission back for revision</button>
{% endif %}

{% if "on_confirm" in stage_conf.keys()%}
<button onclick="signForm('confirm');" id="form_confirm" class="btn btn-secondary" disabled>I want to confirm this submission</button>
{% endif %}

<hr>



{% endblock %}


{% block addl_js %}

{# Add some logic here that redirects if the current user is not an authorized approver... #}
<script>

    {% if "on_approve" in stage_conf.keys()%}
    const approveButton = document.getElementById('form_approval')
    approveButton.disabled=true; 
    {% endif %}

    {% if "on_deny" in stage_conf.keys()%}
    const disapproveButton = document.getElementById('form_disapproval')
    disapproveButton.disabled=true; 
    {% endif %}

    {% if "on_pushback" in stage_conf.keys()%}
    const pushbackButton = document.getElementById('form_pushback')
    pushbackButton.disabled=true; 
    {% endif %}

    {% if "on_confirm" in stage_conf.keys()%}
    const confirmButton = document.getElementById('form_confirm')
    confirmButton.disabled=true; 
    {% endif %}

    function signForm(action) {
        $.ajax({
            url: `/api/form/sign/${formName}/${documentId}/${action}`,
            type: 'PATCH',
            headers: {
                'X-API-KEY': apiKey,
            },
            dataType: 'json',

            success: function(response) {
                setFlashMessage(`Successfully completed ${action} action for submission`, AlertCategories.SUCCESS);
                window.location.href = '/ui/form/review_and_approval';

            },

            error: function(xhr) {
                // Handle errors
                console.error(`Failed to complete ${action} action for submission`, xhr.responseText);
                // Display error message to the user
                // flashMessage(xhr.responseText, 'danger'); 
            }
        });
    }

    function fetchActionNeededData(callback) {
        $.ajax({
            url: `/api/form/read_all_needing_action`,
            type: "GET",
            dataType: 'json',
            beforeSend: function(xhr){xhr.setRequestHeader('X-API-KEY', apiKey);},
            success: function(formData) {
                // Call the callback function with the data
                callback(null, formData.documents);
                // console.log(formData);
            },
            error: function(xhr, status, error) {
                // Call the callback function with the error
                callback(error);

            }
        });
    }


    // Usage example
    function checkDocumentId(formName, documentId) {
        fetchActionNeededData(function(error, documents) {
            if (error) {
                console.error('Error fetching data:', error);
                setFlashMessage("Error validating document for review", AlertCategories.WARNING);
                window.location.href = '/ui/form/review_and_approval';
            } else {

                // Check if formName exists and is an array
                if (!documents.hasOwnProperty(formName) || !Array.isArray(documents[formName])) {
                    console.error(`Form ${formName} not found or is not an array`);
                    setFlashMessage(`Error validating document for review`, AlertCategories.WARNING);
                    window.location.href = '/ui/form/review_and_approval';
                    return;
                }

                // Check if the documentId exists in the formName array
                if (!documents[formName].includes(documentId)) {
                    console.error(`Document ID ${documentId} is not up for review for form ${formName}`);
                    setFlashMessage(`Error validating document for review`, AlertCategories.WARNING);
                    window.location.href = '/ui/form/review_and_approval';
                    return;
                }

                // If everything is correct, enable the buttons
                {% if "on_approve" in stage_conf.keys()%}
                approveButton.disabled = false;
                {% endif %}

                {% if "on_deny" in stage_conf.keys()%}
                disapproveButton.disabled = false;
                {% endif %}

                {% if "on_pushback" in stage_conf.keys()%}
                pushbackButton.disabled=false; 
                {% endif %}

                {% if "on_confirm" in stage_conf.keys()%}
                confirmButton.disabled=false; 
                {% endif %}


            }
        });
    }

    checkDocumentId("{{ form_name }}", "{{ document_id }}");

</script>
{% endblock %}
